body{
    background-color: antiquewhite;
   /* background-color: aqua;*/
}

section{
    background-color: aliceblue;
}

#titulo{
    text-align: center;
}

#f{
    text-align: center;
    letter-spacing: 2px;
    color:cadetblue;
}

#y{
    text-align: center;
    letter-spacing: 2px;
    color:blueviolet;
}

#t{
    text-align: center;
    letter-spacing: 2px;
    color:chocolate;
}